<html><head><title>RSS to FidoNet, rss2fido by_Rain 27/09-2006g.</title>
  <body bgcolor="#FFFFFF" text="#050000" leftmargin="5" alink="#050000" vlink="#050000">
    <font face="Arial"> <font size="+1">
    <a name="top"></a>

<br><br>
&nbsp;&nbsp;Example:
&nbsp;<a href="lj.html">LiveJournal</a>,
&nbsp;<a href="news.html">news</a>,
&nbsp;<a href="news in frame.html">news in frame</a>
<br>
&nbsp;&nbsp;Download:
&nbsp;<a href="lj.tpl">lj.tpl</a>,
&nbsp;<a href="News.tpl">news.tpl</a>,
&nbsp;<a href="News in frame.tpl">news in frame.tpl</a>
<br>
&nbsp;&nbsp;<a href="all_tpl.rar">all in rar archive</a>

<br><br><br>
&nbsp;&nbsp;<a href="#top">Top</a>
&nbsp;&nbsp;or&nbsp;&nbsp;<a href="http://rss2fido.sourceforge.net">HomeDir</a>
<br><br><br>
</font>
  </body>
</html>

