<html><head><title>RSS to FidoNet, rss2fido by_Rain 27/09-2006g.</title>
  <body bgcolor="#FFFFFF" text="#050000" leftmargin="5" alink="#050000" vlink="#050000">
    <font face="Arial"> <font size="+1">
    <a name="top"></a>

;&nbsp;[it&nbsp;is&nbsp;an&nbsp;example&nbsp;of&nbsp;a&nbsp;template&nbsp;for&nbsp;the&nbsp;rss2fido]<br>
;&nbsp;In&nbsp;line&nbsp;template&nbsp;to&nbsp;use&nbsp;no&nbsp;more&nbsp;than&nbsp;80&nbsp;characters<br>
;<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
&nbsp;@description,1,[78]<br>
<br>
&nbsp;Date:&nbsp;@pubDate,0,[78]<br>
&nbsp;Link:&nbsp;@link,0,[50]...<br>
<br>
;&nbsp;Description&nbsp;about&nbsp;the&nbsp;format&nbsp;template<br>
;&nbsp;Is&nbsp;any&nbsp;tags,&nbsp;for&nbsp;example:&nbsp;<title>&nbsp;</title>,<br>
;&nbsp;conversion&nbsp;macros<br>
;&nbsp;each&nbsp;macro&nbsp;have&nbsp;to&nbsp;be&nbsp;at&nbsp;@<br>
;&nbsp;thus&nbsp;you&nbsp;specify&nbsp;that&nbsp;the&nbsp;value,&nbsp;rather&nbsp;than&nbsp;the&nbsp;text<br>
;&nbsp;Format:&nbsp;[value],[formatting&nbsp;(0,1,2)],[[length]]:[url_format]<br>
;&nbsp;Formatting&nbsp;text:<br>
;&nbsp;0)&nbsp;Write&nbsp;only&nbsp;one&nbsp;line<br>
;&nbsp;example:&nbsp;@description,0,[75]:0...<br>
;&nbsp;result:&nbsp;<br>
;&nbsp;<br>
;&nbsp;All&nbsp;day&nbsp;in&nbsp;my&nbsp;head&nbsp;got&nbsp;anything&nbsp;thought,&nbsp;well&nbsp;that&nbsp;by&nbsp;the&nbsp;evening&nbsp;of...<br>
;<br>
;&nbsp;1)&nbsp;Move&nbsp;the&nbsp;text&nbsp;on&nbsp;the&nbsp;words<br>
;&nbsp;example:&nbsp;@description,1,[75]:0<br>
;&nbsp;result:&nbsp;<br>
;<br>
;&nbsp;All&nbsp;day&nbsp;in&nbsp;my&nbsp;head&nbsp;got&nbsp;anything&nbsp;thought,&nbsp;well&nbsp;that&nbsp;by&nbsp;the&nbsp;evening&nbsp;of<br>
;&nbsp;moving&nbsp;the&nbsp;ropes.&nbsp;S.,&nbsp;yes&nbsp;you&nbsp;psychologist,&nbsp;Pasiba!&nbsp;:)<br>
;&nbsp;<br>
;&nbsp;2)&nbsp;Just&nbsp;to&nbsp;transfer&nbsp;to&nbsp;another&nbsp;line<br>
;&nbsp;example:&nbsp;@description,2,[75]:0<br>
;&nbsp;result:&nbsp;<br>
;<br>
;&nbsp;All&nbsp;day&nbsp;in&nbsp;my&nbsp;head&nbsp;got&nbsp;anything&nbsp;thought,&nbsp;well&nbsp;that&nbsp;by&nbsp;the&nbsp;evening&nbsp;of&nbsp;mo<br>
;&nbsp;ving&nbsp;the&nbsp;ropes.&nbsp;S.,&nbsp;yes&nbsp;you&nbsp;psychologist,&nbsp;Pasiba!&nbsp;:)<br>
;&nbsp;<br>
;<br>
;&nbsp;---------------------------<br>
;&nbsp;And&nbsp;finally,&nbsp;what&nbsp;exactly&nbsp;is&nbsp;url_format?<br>
;&nbsp;Who&nbsp;could&nbsp;have&nbsp;three&nbsp;different&nbsp;meanings:<br>
;&nbsp;1)&nbsp;example:&nbsp;@description,1,[79]:0<br>
;&nbsp;(without&nbsp;the&nbsp;hyperlinks)<br>
;-------------------------------------------------------------<br>
;&nbsp;&nbsp;&nbsp;Secret&nbsp;scientist&nbsp;:))<br>
;<br>
;<br>
;<br>
;&nbsp;&nbsp;There&nbsp;is&nbsp;all&nbsp;the&nbsp;fun..&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
;<br>
;<br>
;<br>
;&nbsp;&nbsp;Even&nbsp;popalu&nbsp;ready&nbsp;its&nbsp;work..&nbsp;:))<br>
;-------------------------------------------------------------<br>
;&nbsp;2)&nbsp;example:&nbsp;@description,1,[79]:1<br>
;&nbsp;(with&nbsp;hyperlinks&nbsp;in&nbsp;the&nbsp;text)<br>
;-------------------------------------------------------------<br>
;&nbsp;&nbsp;&nbsp;Secret&nbsp;scientist&nbsp;:))&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
;<br>
;&nbsp;&nbsp;[http://img299.imageshack.us/img299/2748/dsc00004ou3.jpg]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
;<br>
;&nbsp;&nbsp;There&nbsp;is&nbsp;all&nbsp;the&nbsp;fun..&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
;<br>
;&nbsp;&nbsp;[http://img299.imageshack.us/img299/6639/dsc00008mu7.jpg]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
;<br>
;&nbsp;&nbsp;Even&nbsp;popalu&nbsp;ready&nbsp;its&nbsp;work..&nbsp;:))&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
;<br>
;&nbsp;&nbsp;[http://img391.imageshack.us/img391/3210/dsc00007zs2.jpg]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
;-------------------------------------------------------------<br>
;&nbsp;3)&nbsp;example:&nbsp;@description,1,[79]:2<br>
;&nbsp;(with&nbsp;hyperlinks&nbsp;in&nbsp;end&nbsp;the&nbsp;text)<br>
;-------------------------------------------------------------<br>
;&nbsp;&nbsp;Secret&nbsp;scientist&nbsp;:))&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
;<br>
;&nbsp;&nbsp;[1]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
;<br>
;&nbsp;&nbsp;There&nbsp;is&nbsp;all&nbsp;the&nbsp;fun..&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
;<br>
;&nbsp;&nbsp;[2]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
;<br>
;&nbsp;&nbsp;Even&nbsp;popalu&nbsp;ready&nbsp;its&nbsp;work..&nbsp;:))&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
;<br>
;&nbsp;&nbsp;[3]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
;<br>
;&nbsp;&nbsp;[1]:&nbsp;http://img299.imageshack.us/img299/2748/dsc00004ou3.jpg<br>
;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(&nbsp;Secret&nbsp;scientist)<br>
;&nbsp;&nbsp;[2]:&nbsp;http://img299.imageshack.us/img299/6639/dsc00008mu7.jpg<br>
;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(The&nbsp;same&nbsp;bunker)<br>
;&nbsp;&nbsp;[3]:&nbsp;http://img391.imageshack.us/img391/3210/dsc00007zs2.jpg<br>
;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Even&nbsp;popalu&nbsp;ready&nbsp;its&nbsp;work)<br>
;-------------------------------------------------------------<br>
;<br>
;<br>

<br><br><br>
&nbsp;&nbsp;<a href="#top">Top</a>
&nbsp;&nbsp;or&nbsp;&nbsp;<a href="http://rss2fido.sourceforge.net">HomeDir</a>
<br><br><br>
</font>
  </body>
</html>

