; [it is an example of config file program the rss2fido]
; The following is an example of the settings for a write message
; in the mailbox of the fidonet

[start_rss]
Name "LiveJournal rights under the nick Converseman"
address "http://converseman.livejournal.com/data/rss"
template lj.tpl
language russian.lng

send_path D:\MSGBASE.PVT\LOCAL\RESOLVE
send_from "Kirill Riadnykh"
send_to "All"
send_faddress 2:5030/1543.33@fidonet
send_taddress 2:5030/1543@fidonet
send_subj "LiveJournal"
send_origin "/(Kitten in Rainshire) (440-7701) (23:00-09:00)/"

[end_rss]
